body {
    background-color: #b1bfb1;
    color: whitesmoke;
    
}
.btnWrapper{
    margin: 10px 0;
}
.primeBtn{
    width: 80%;
    margin-right: 5%
}
.secBtn{
    width: 15%;
}
.headerStyle {
    padding: 25px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.appBox {
    min-height: 640px;
    background-color: #303030;
    box-shadow: 4px 4px 3px -2px #1e1e1e;
   
}

li img {
    width: 100%;
}

.card:hover {
    opacity: .60;
}

.cardStyle {
    background-color: #ffffff;
    width: 300px;
    border: none;
    text-align: center;
}

.cardStyle a:hover, .cardStyle a {
    text-decoration: none;
    color: black;
}

.overflowStyle::-webkit-scrollbar {
    width: 1em;
}

.overflowStyle::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overflowStyle::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}